In [5]:
def old_macdnald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper()+ inbetween + fourth_letter.upper() + rest

In [6]:
old_macdnald('macdonald')

'MacDonald'

In [9]:
def old_macdnald2(name):
    
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [10]:
old_macdnald2('macdonald')

'MacDonald'

In [12]:
def master_ypda(text):
    wordlist = text.split()
    
    reverse_wordlist = wordlist[::-1]
    return reverse_wordlist

In [13]:
master_ypda('I am home.')

['home.', 'am', 'I']

In [14]:
mylist = ['a', 'b', 'c']

In [15]:
'--'.join(mylist)

'a--b--c'

In [16]:

def master_ypda_join(text):
    wordlist = text.split()
    
    reverse_wordlist = wordlist[::-1]
    
    return ' '.join(reverse_wordlist)

In [18]:
master_ypda_join('Hello world I am Herer.')

'Herer. am I world Hello'

In [19]:
def almost_there(n):
    return (abs(100 -n) < 10) or (abs(200 - n)<=10)

In [20]:
almost_there(104)

True

In [21]:
def has_33(nums):
    for i in range(0,len(nums)-1 ):
        if nums[i] == 3 and nums[i +1] == 3:
            return True
        
    return False

In [22]:
has_33([1,2,3,3,4])

True

In [23]:

has_33([1,2,3,2,3,4])

False

In [24]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    
    return result

In [25]:
paper_doll('hello')

'hhheeellllllooo'

In [ ]:
def blackjack(a, b, c):
    if sum([a, b, c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <=31:
        return sum([a,b,c]) -1